@(files: List[EcoFile])

@import helper._
@import org.bson.types.ObjectId
@import com.mongodb.Mongo

	
@helper.form(action = routes.FileManagement.blankDownload()) {

	<div class="container">
		
		<!-- narrow-search -->
		<legend class="form-signing-heading"> Narrow your search. </legend>
		<p data-bind="text: viewModel.test"> </p> 

		<!-- filegroups-dropdown -->
		<select data-bind="options: $root.listFileGroups, optionsText: 'name', optionsCaption: 'Select file group...'" multi="true" >
		</select>

	</div>


	<div class="container">

		<!-- Download Table -->
		<legend class="form-signing-heading"> Click on the file to download. </legend>
		<ul> 
			@files.map { files =>
			  <li><a href="/filemanagement/download/@files.id">@files.name</a></li>
			} 
		</ul>
	</div>
	}
