@(status: String)

@helper.form(action = routes.FileManagement.submitUpload, 'enctype -> "multipart/form-data") {
 

	<div class="container">
		<legend class="form-signing-heading"> Select a file group. </legend>
			<select data-bind="options: $root.listFileGroups, optionsText: 'name'" multi="true">
			</select>
	</div>

	<div class="container">
		<legend class="form-signing-heading"> Select files. </legend>
	    	<input type="file" name="file" multiple >
	    
	    	<p>
	    	    <input type="submit" class="btn">
	    	</p>

			<p> @status </p>
	</div>
}
